*{
    margin: 0;
}
body{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
   display: flex;
   text-align: center;
   background-color: red;
   flex: 2 0 auto ;
   flex-direction: column;
   justify-content: space-around;
}
nav{
    display: flex;
    list-style: none;
    
    background-color: red;
   
   
    
}
nav li{
    border: 2px solid black;
    text-align: center;
    flex: 1;
}

/*article*/
.flexbox-container{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    align-content: center;
}
.article1{
    
    margin: 10px;
    border: 2px dotted white;
    flex:1 0 200px;
}
.flexbox-article1{
    min-height: 100px;
}
.flexbox-article2{
    min-height: 200px;
}
.flexbox-article3{
    min-height: 300px;
}
main{
    display: flex;
    flex: 4 0 auto;

}
.aside1{
    background-color: yellow;
    padding: 50px;
}
.aside2{
    background-color: violet;
    padding: 50px;
}
footer{
    background-color: green;
    flex: 2 0 auto;
    text-align: center;
    

}